body {
    font-family: Arial, sans-serif;
    background-color: rgb(166, 224, 224);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 29px;
    background-color: rgb(126, 204, 200);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.input-section {
    z-index: 1;
    border-radius: 8px;
    margin: 27px 0px;
    padding: 0px;
}

label {
    margin-bottom: 15px;
    font-weight: bold;
    z-index: 1;
}

input {
    display: flex;
    width: 80%;
    padding: 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
    margin: 10px -5px;
    margin-bottom: -20px;
    z-index: 1;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #3ab43e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: 20px 180px 0px;
    background: linear-gradient(to right, #10a37f 50%, #09524d 10%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.6s;
}

button:hover {
    background-position: left;
    z-index: -1;
}

#result {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
    max-width: 600px;
    margin: 27px auto;
    padding: 20px;
    border-radius: 8px;
    z-index: 1;
}

.question-mark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: -60px 0px;
}

.tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    display: inline-block;
    left: 820px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool {
    visibility: hidden;
    width: 100px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tool {
    visibility: visible;
    opacity: 1;
}

#age-group {
    padding: 5px;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    width: 200px;
    color: gray;
}

.error-icon {
    position: relative;
    top: -17px;
    left: 455px;
    color: red;
    font-size: 25px;
    visibility: hidden;
    cursor: pointer;
}

.error-icon:hover+.tooltip-text {
    visibility: visible;
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 280px;
    top: 0;
    width: 120vh;
    height: 100vh;
    overflow: auto;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-content {
    background-color: rgb(126, 204, 200);
    margin: 28% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    max-height: 600px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #0b0b0b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: rgb(219, 4, 4);
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 30px auto;
    }

    input, button {
        width: 100%;
        margin: 10px 0;
    }

    button {
        margin: 20px 0;
    }

    .tooltip-text, .error-icon {
        left: auto;
        right: 10px;
    }

    .modal {
        width: 100vw;
        height: 100vh;
        left: 0;
    }

    .modal-content {
        margin: 50% auto;
        padding: 20px;
        width: 90%;
        max-height: 80%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    input {
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 10px 15px;
    }

    .question-mark, .tooltip, .tooltip-text, .error-icon {
        font-size: 14px;
    }

    .modal-content {
        margin: 40% auto;
        padding: 15px;
    }
}
